/emacs.d/chris@*
/emacs.d/config.el
/emacs.d/smex-items
/emacs.d/url/cookies
emacs.d/request/curl-cookie-jar

/emacs.d/url/cache
/emacs.d/.emacs.desktop
/emacs.d/auto-save-list
/emacs.d/.session
/emacs.d/session.*
/emacs.d/custom.el
/emacs.d*.elc
/emacs.dCVS
/emacs.d.svn
/emacs.d*~
/emacs.d.cvsignore
/emacs.d.*.lock
/emacs.d/tramp
/emacs.d/TODO
/emacs.d/anything-c-adaptive-history
/emacs.d/.org-id-locations
/emacs.dcookies
/emacs.d/newsticker
/emacs.d/ac-comphist.dat
/emacs.d\#*
/emacs.d/elpa
/emacs.d/elpa-*
/emacs.dsite-lisp/package/
/emacs.d/swank
/emacs.d/.mc-lists.el
/emacs.d/var
/emacs.d/.sqli_history
/emacs.d/frame-restore-parameters
/emacs.d/.achievements
/emacs.d/.bookmarks.el
/emacs.d/history
/emacs.d/helm-adaptive-history
/emacs.d/thumbs/
/emacs.d/emms/
/emacs.d/.smex-items
/emacs.d/image-dired/
/emacs.d/eshell
/emacs.d/.cask/
/emacs.d/.sx/
/emacs.d/org-clock-save.el
/emacs.d/ditaa*.jar
/emacs.d/ido.last
/emacs.d/recentf
/emacs.d/viper
/emacs.d/projectile-bookmarks.eld
/emacs.d/anaconda-mode/
/emacs.d/.historian
/emacs.d/.uptimes.el